:root {
    --main-color: #242d3a;
    --accent-color: #ffae42;
    --accent-light-shadow-color: #ffc84c;
    --accent-dark-shadow-color: #d99438;

    --text-color: #8396b3;

    --neu-shadow-1px: 1px 1px 2px #1f2631,
    -1px -1px 2px #293443;
    --neu-shadow-2px: 2px 2px 4px #1f2631,
    -2px -2px 4px #293443;
    --neu-shadow-3px: 3px 3px 6px #1f2631,
    -3px -3px 6px #293443;
    --neu-shadow-5px: 5px 5px 10px #1f2631,
    -5px -5px 10px #293443;

    --neu-shadow-inset-1px: inset 1px 1px 2px #1f2631,
    inset -1px -1px 2px #293443;
    --neu-shadow-inset-2px: inset 2px 2px 4px #1f2631,
    inset -2px -2px 4px #293443;
    --neu-shadow-inset-3px: inset 3px 3px 6px #1f2631,
    inset -3px -3px 6px #293443;
    --neu-shadow-inset-4px: inset 4px 4px 8px #1f2631,
    inset -4px -4px 8px #293443;

    --neu-shadow-toggle-2px: 2px 2px 4px #1f2631,
    -2px -2px 4px #293443,
    inset 2px 2px 4px #1f2631,
    inset -2px -2px 4px #293443;


    --accent-shadow-2px: 2px 2px 4px #ffc84c,
    -2px -2px 4px #d99438;



    --accent-gradiant: linear-gradient(145deg, var(--accent-color), #d99438);
}